.header {
    background-color:#4aaaa5;
    height:25px;
    width:250px;
    padding:25px;
    line-height:0%;
    margin-top:50px
}
h1 {
    color:#4aaaa5;
    font-family:'Georgia',Times, 'Times New Roman'serif;

}
.box {
    background-color:#4aaaa5;
    width: 200px;
    height:100px;

}
.name {
    color:#ffffff;

}